body {
	font-family: "Open Sans", Tahoma, Arial, sans-serif;
	line-height: 1.8em;
	font-size: 16px;
}

h1 {
	font-size: 40px;
}

h2 {
	margin-top: 25px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 33px;
	padding-top: 25px;
	border-top: 1px solid #eee;
}

h3 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
}

div.toc-h1 {
	margin-bottom: 4px;
}

div.toc-h1 a {
	font-size: 16px;
	color: #333;
}

div.toc-h2 a {
	font-size: 12px;
	color: #333;
	margin-left: 12px;
}

div.highlight {
	margin-top: 30px;
	margin-bottom: 30px;
	max-height: 400px;
	overflow-y: auto;
	border: 1px solid #ddd;
	-webkit-box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	-moz-box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
}

div.highlight pre {
	background-color: #fcfcfc;
	border: none;
	margin: 0;
}

div.highlight pre code {
	font-family: "Courier New";
}

div.navlink i {
	margin-right: 10px;
}

div.navlink a {
	font-size: 14px;
	color: #333;
}

table {
	margin-right: 20px;
}

tbody tr {
	border-top: 1px solid #eee;
}

th {
	min-width: 200px;
}

td {
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content img {
	width: 95%;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: 1px solid #aaa;
	-webkit-box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	-moz-box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	border: 1px solid #aaa;
}

@media screen and (max-width: 992px) {
	#sidenav {
		display: none;
	}
}

.section-dd {
	width: 100%;
	margin-top: 20px;
}

.sidebar {
	width: 310px;
}

.sidebar-header {
	border: 1px solid #ccc;
	margin-top: 20px;
	width: 280px;
	padding: 15px;
	-webkit-box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	-moz-box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
	box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.3);
}

.header-logo {
	max-width: 295px;
}

.sw-copyright {
	font-size: 12px;
	text-align: center;
}